In [4]:
import numpy as np

In [1]:
a,b,c = (int(input("Enter the value of A: ")),int(input("Enter the value of B: ")),int(input("Enter the value of C: ")))

Enter the value of A: 5
Enter the value of B: 8
Enter the value of C: 12

5

array([0, 1, 2, 3, 4])

In [17]:
def total(p):
    t = sum(np.arange(p+1))
    return t

In [19]:
total(4)

10

In [4]:
x = int(input("Enter 1st number: "))
y = int(input("Enter 2nd number: "))

if x>y :
    print ("X is greater than Y")
    
elif x == y:
    print ("X is equal to Y")

else: 
    print("X is smaller than Y")

Enter 1st number: 5
Enter 2nd number: 5
X is equal to Y

In [5]:
def compare_to_five(y):
    if y>5:
        print ("Y is greater than 5")
    elif y == 5:
        print ("Y is equals to 5")
    else:
        print ("Y is less than 5")

In [9]:
compare_to_five(2)

Y is less than 5

In [10]:
def compare_to_five(y):
    if y>5:
        return "Y is greater than 5"
    elif y == 5:
        return "Y is equals to 5"
    else:
        return "Y is less than 5"

In [11]:
compare_to_five(4)

'Y is less than 5'

In [12]:
def simple():
    print("first function")

In [13]:
simple()

first function

In [18]:
def plus_ten(x):
    return x+10

In [19]:
plus_ten(13)

23

In [20]:
def plus_ten(x):
    result = x+10
    return result

In [22]:
plus_ten(3)

13

In [23]:
def plus_ten(x):
    result = x+10
    print("Outcome")
    return result

In [24]:
plus_ten(3)

Outcome

13

In [25]:
def wage(w_hours):
    return w_hours * 25

def bonus(w_hours):
    return wage(w_hours) + 50

In [26]:
wage(8)

200

In [27]:
bonus(8)

250

In [28]:
wage(8), bonus(8)

(200, 250)

In [29]:
def add_10(m):
    if m > 100:
        return m+10
    else:
        return m

In [31]:
add_10(109)

119

In [38]:
def pyth(a,b,c):
   
    return a - b*c

In [39]:
pyth(9,1,2)

7

In [40]:
pyth(c=3,b=3,a=12)

3

Another way to define a dictionary

In [42]:
Team = {}
Team['Point Guard'] = "Dirk"
Team['Shooting Guard'] = "Al"
Team['Small Forward'] = "Sean"
Team['Power Forward'] = "Alexander"
Team['Center'] = "Hector"

In [44]:
print(Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [49]:
numbers = range(0,20,2)

18

In [57]:
for n in numbers:
    print(n)

0
2
4
6
8
10
12
14
16
18

In [63]:
for n in numbers:
    print(n, end = " ")

0 2 4 6 8 10 12 14 16 18

In [79]:
x = 0
while x < 35:
    print (x, end =" ")
    x = x+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34

In [84]:
for n in range(10):
    m = 2**n
    print(m, end = " ")

1 2 4 8 16 32 64 128 256 512

In [83]:
for  x in range(20):
    if x%2 == 0:
        print(x, end = " ")
    else: 
        print("ODD", end = " ")

0 ODD 2 ODD 4 ODD 6 ODD 8 ODD 10 ODD 12 ODD 14 ODD 16 ODD 18 ODD

In [86]:
def count(numbers): 
    total = 0
    for x in numbers: 
        if x< 20:
            total = total + 1
    return total

In [89]:
list = [1,3,9,13,94,84,23,40,9,17]

In [90]:
count(list)

6

In [91]:
prices = {"Box_of_Spaghetti": 4,"Lasagna": 5 , "Hamburger": 2}
quantity = {"Box_of_Spaghetti": 6,"Lasagna": 10 , "Hamburger": 0}

In [92]:
money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])

In [93]:
print(money_spent)

74

In [4]:
a = int(input('input a number: '))
b = int(inp'input another number: ')
sum = a + b
print("Sum of" + a + " and " +b + "is = " + sum  )

ValueError: invalid literal for int() with base 10: 'input a number: '