In [4]:
import pandas as pd

In [27]:
from io import StringIO

In [34]:
Data = """\ 
Sample Animal Intelligence 
1 Dog Smart
2 Dog Smart
3 Cat Stupid
4 Cat Stupid
5 Dog Stupid
6 Cat Smart"""

In [35]:
Data

'\\ \nSample Animal Intelligence \n1 Dog Smart\n2 Dog Smart\n3 Cat Stupid\n4 Cat Stupid\n5 Dog Stupid\n6 Cat Smart'

In [36]:
dframe = pd.read_table(StringIO(Data), sep = '\s+')

In [37]:
dframe

,,\
Sample,Animal,Intelligence
1,Dog,Smart
2,Dog,Smart
3,Cat,Stupid
4,Cat,Stupid
5,Dog,Stupid
6,Cat,Smart

In [41]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins = True)

AttributeError: 'DataFrame' object has no attribute 'Animal'