In [4]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

In [12]:
import webbrowser

website = 'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [45]:
nfl_frame = pd.read_clipboard()  #Copy from the excel and then use this function

In [46]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [47]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL Season',
       'Division'],
      dtype='object')

In [48]:
nfl_frame['Rank']

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [49]:
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2    New England Patriots
3           Chicago Bears
4        Baltimore Ravens
Name: Team, dtype: object

In [1]:
nfl_frame['First NFL Season']

NameError: name 'nfl_frame' is not defined

In [51]:
DataFrame(nfl_frame, columns = ('Team', 'Won', 'Division'))

                   Team  Won   Division
0        Dallas Cowboys  520   NFC East
1     Green Bay Packers  756  NFC North
2  New England Patriots  512   AFC East
3         Chicago Bears  769  NFC North
4      Baltimore Ravens  214  AFC North

In [52]:
nfl_frame.head(2) #To call Rows

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North

In [53]:
nfl_frame.tail(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [54]:
nfl_frame.ix[2]

C:\Users\Apoorv\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Rank                                   3
Team                New England Patriots
GP                                   916
Won                                  512
Lost                                 395
Tied                                   9
Pct.                               0.564
First NFL Season                    1960
Division                        AFC East
Name: 2, dtype: object

In [55]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [60]:
nfl_frame['Stadium'] = "Levi's is  Stadium"
nfl_frame['Country'] = "USA is Country"

In [61]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division,Country,Stadium
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East,USA is Country,Levi's is Stadium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,USA is Country,Levi's is Stadium
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,USA is Country,Levi's is Stadium
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,USA is Country,Levi's is Stadium
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,USA is Country,Levi's is Stadium

In [67]:
del nfl_frame['Stadium']

In [68]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,0.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North

In [69]:
data = {'city': ['Agra', 'Delhi', 'Pune'], 'Population': [4380793,16753235, 3124458] }

In [70]:
data

{'city': ['Agra', 'Delhi', 'Pune'], 'Population': [4380793, 16753235, 3124458]}

In [71]:
city = DataFrame(data)

In [72]:
city

    city  Population
0   Agra     4380793
1  Delhi    16753235
2   Pune     3124458