In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

In [2]:
from pandas import read_html

In [ ]:
# to use this, we need to have beautiful soup and html5lib using pip

In [11]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'

In [12]:
url

'https://www.fdic.gov/bank/individual/failed/banklist.html'

In [13]:
dframe_list = pd.io.html.read_html(url)

In [15]:
dframe_list

[                             Bank Name        City  ST   CERT  \
 0                   Ericson State Bank     Ericson  NE  18265
 1     City National Bank of New Jersey      Newark  NJ  21111
 2                        Resolute Bank      Maumee  OH  58317
 3                Louisa Community Bank      Louisa  KY  58112
 4                 The Enloe State Bank      Cooper  TX  10716
 ..                                 ...         ...  ..    ...
 555                 Superior Bank, FSB    Hinsdale  IL  32646
 556                Malta National Bank       Malta  OH   6629
 557    First Alliance Bank & Trust Co.  Manchester  NH  34264
 558  National State Bank of Metropolis  Metropolis  IL   3815
 559                   Bank of Honolulu    Honolulu  HI  21029

                    Acquiring Institution       Closing Date
 0             Farmers and Merchants Bank  February 14, 2020
 1                        Industrial Bank   November 1, 2019
 2                     Buckeye State Bank   October 25, 2019
 3      Kentucky Farmers Bank Corporation   October 25, 2019
 4                     Legend Bank, N. A.       May 31, 2019
 ..                                   ...                ...
 555                Superior Federal, FSB      July 27, 2001
 556                    North Valley Bank        May 3, 2001
 557  Southern New Hampshire Bank & Trust   February 2, 2001
 558              Banterra Bank of Marion  December 14, 2000
 559                   Bank of the Orient   October 13, 2000

 [560 rows x 6 columns]]

In [17]:
dframe = dframe_list[0]

dframe

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
1,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
2,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
3,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
4,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019"
...,...,...,...,...,...,...
555,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
556,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
557,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
558,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
559,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"