In [5]:
import pandas as pd

from pandas import Series, DataFrame

import numpy as np

In [19]:
obs = Series([2,3,4,1])

In [20]:
obs

0    2
1    3
2    4
3    1
dtype: int64

In [21]:
obs[1]

3

In [22]:
obs

0    2
1    3
2    4
3    1
dtype: int64

In [23]:
obs.values

array([2, 3, 4, 1], dtype=int64)

In [24]:
obs.index

RangeIndex(start=0, stop=4, step=1)

In [25]:
obs['D']

KeyError: 'D'

In [26]:
obs[obs>2]

1    3
2    4
dtype: int64

In [37]:
i = (0,2,1,3,5,4,0,1)

i

(0, 2, 1, 3, 5, 4, 0, 1)

In [38]:
obs = Series(obs)

In [39]:
obs2 = Series(obs, index = i)

In [40]:
obs

0    2
1    3
2    4
3    1
dtype: int64

In [41]:
obs2

0    2.0
2    4.0
1    3.0
3    1.0
5    NaN
4    NaN
0    2.0
1    3.0
dtype: float64

In [42]:
pd.isnull(obs2)

0    False
2    False
1    False
3    False
5     True
4     True
0    False
1    False
dtype: bool

In [43]:
pd.notnull(obs2)

0     True
2     True
1     True
3     True
5    False
4    False
0     True
1     True
dtype: bool

In [45]:
s = Series([23,40,50,9])

In [49]:
obs

s*obs

0     46
1    120
2    200
3      9
dtype: int64

In [52]:
DataFrame(obs)

   0
0  2
1  3
2  4
3  1