In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ('A','B','C','D'))

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [7]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
ser2.isnull()

A    False
B    False
C    False
D    False
E     True
F     True
dtype: bool

In [9]:
ser2 = ser1.reindex(['A','B','C','D','E','F'],fill_value = 0)

In [10]:
ser2

A    1
B    2
C    3
D    4
E    0
F    0
dtype: int64

In [11]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index = (0,5,10))

In [12]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [20]:
ranger = range(25)

ranger

range(0, 25)

In [21]:
ranger

range(0, 25)

In [22]:
ser3.reindex(ranger,method='ffill')  #bfill can also be used

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
15    Canada
16    Canada
17    Canada
18    Canada
19    Canada
20    Canada
21    Canada
22    Canada
23    Canada
24    Canada
dtype: object

In [28]:
dframe = DataFrame(randn(25).reshape(5,5),index = ['A','B','D','E','F'], 
                   columns = ['col1','col2','col3', 'col4', 'col5'])

In [29]:
dframe

       col1      col2      col3      col4      col5
A  1.172242 -0.685807 -0.829740 -0.135298 -2.477736
B  2.117817 -2.011565 -1.743277  0.289564 -1.181765
D  0.485375 -0.756301 -1.200574 -0.270334 -0.757513
E -0.978981  1.026513 -0.310456  0.270701  0.890175
F -0.550282  0.580147  0.907962  0.066390 -0.519248

In [31]:
dframe2 = dframe.reindex(['A','B','C','D','E'])
dframe2

       col1      col2      col3      col4      col5
A  1.172242 -0.685807 -0.829740 -0.135298 -2.477736
B  2.117817 -2.011565 -1.743277  0.289564 -1.181765
C       NaN       NaN       NaN       NaN       NaN
D  0.485375 -0.756301 -1.200574 -0.270334 -0.757513
E -0.978981  1.026513 -0.310456  0.270701  0.890175

In [32]:
new_col = ['col1','col2','col3','col4','col5','col6']

In [36]:
dframe2 = dframe.reindex(columns = new_col)

In [37]:
dframe2

       col1      col2      col3      col4      col5  col6
A  1.172242 -0.685807 -0.829740 -0.135298 -2.477736   NaN
B  2.117817 -2.011565 -1.743277  0.289564 -1.181765   NaN
D  0.485375 -0.756301 -1.200574 -0.270334 -0.757513   NaN
E -0.978981  1.026513 -0.310456  0.270701  0.890175   NaN
F -0.550282  0.580147  0.907962  0.066390 -0.519248   NaN

In [38]:
dframe

       col1      col2      col3      col4      col5
A  1.172242 -0.685807 -0.829740 -0.135298 -2.477736
B  2.117817 -2.011565 -1.743277  0.289564 -1.181765
D  0.485375 -0.756301 -1.200574 -0.270334 -0.757513
E -0.978981  1.026513 -0.310456  0.270701  0.890175
F -0.550282  0.580147  0.907962  0.066390 -0.519248

In [40]:
dframe.ix(['A','B','C','D','E'], new_col)

C:\Users\Apoorv\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given