In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame,Series

In [10]:
dframe1= DataFrame(np.arange(8).reshape(2,4),
                  index = pd.Index(['MH','MP'],name = 'States'),
                  columns = pd.Index(['A','B','C','D'], name = 'Letter'))

In [8]:
dframe1

Letter  A  B  C  D
States
MH      0  1  2  3
MP      4  5  6  7

In [11]:
dframe_stc = dframe1.stack()

In [12]:
dframe_stc

States  Letter
MH      A         0
        B         1
        C         2
        D         3
MP      A         4
        B         5
        C         6
        D         7
dtype: int32

In [14]:
dframe_stc.unstack('States')

States  MH  MP
Letter
A        0   4
B        1   5
C        2   6
D        3   7

In [15]:
dframe_stc.unstack('Letter')

Letter  A  B  C  D
States
MH      0  1  2  3
MP      4  5  6  7

In [17]:
ser1 = Series([0,1,2], index = ['Q','X','Y'])

ser2 = Series([4,5,6], index = ['X','Y','Z'])

In [18]:
dframe = pd.concat([ser1,ser2], keys = ['Alpha','Beta'])

In [19]:
dframe

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [21]:
dframe.unstack()

         Q    X    Y    Z
Alpha  0.0  1.0  2.0  NaN
Beta   NaN  4.0  5.0  6.0

In [22]:
dframe.unstack().stack()

Alpha  Q    0.0
       X    1.0
       Y    2.0
Beta   X    4.0
       Y    5.0
       Z    6.0
dtype: float64