In [17]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [18]:
obj = Series([2,3,4,5])

obj

0    2
1    3
2    4
3    5
dtype: int64

In [19]:
obj.values

array([2, 3, 4, 5], dtype=int64)

In [20]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index =['USSR', 'Germany', 'China', 'Japan', 'USA'])

In [23]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [24]:
ww2_cas['USA']

400000

In [30]:
ww2_cas[ww2_cas > 4000000 ]

USSR       8700000
Germany    4300000
dtype: int64

In [33]:
ww2_dict = ww2_cas.to_dict()

In [34]:
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [35]:
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [36]:
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [39]:
ww2_series = Series(ww2_dict)
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [40]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [45]:
obj2 = Series(ww2_series, index = countries)

In [46]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [47]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [48]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [50]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

##

In [51]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [52]:
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [53]:
obj2.name = 'World War 2 casualities'

In [54]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 casualities, dtype: float64

In [57]:
obj2.index.name = 'countries','casualities'

In [58]:
obj2

(countries, casualities)
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 casualities, dtype: float64