In [4]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame
from numpy.random import randn

In [5]:
ser = Series(randn(6), index = [[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [6]:
ser

1  a    0.417438
   b    0.361268
   c   -0.590499
2  a   -0.893103
   b   -0.612800
   c   -0.186009
dtype: float64

In [7]:
ser[1]

a    0.417438
b    0.361268
c   -0.590499
dtype: float64

In [8]:
ser[:,'a']

1    0.417438
2   -0.893103
dtype: float64

In [18]:
dframe1 = DataFrame(np.arange(36).reshape(6,6),index = [[1,1,2,2,3,3],['a','b','a','b','a','b']],
                   columns = [['Pune','Pune','Delhi','Delhi','Chennai','Chennai'],['hot','cold','hot','cold','hot','cold']])

In [19]:
dframe1

    Pune      Delhi      Chennai
     hot cold   hot cold     hot cold
1 a    0    1     2    3       4    5
  b    6    7     8    9      10   11
2 a   12   13    14   15      16   17
  b   18   19    20   21      22   23
3 a   24   25    26   27      28   29
  b   30   31    32   33      34   35